<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="husky">
<!--
<robot xmlns:xacro="http://ros.org/wiki/xacro">
-->
  <xacro:arg name="parent_link_for_custom" default="top_plate_front_link" />
  <xacro:arg name="parent_link_for_arm" default="control_box" />
  <xacro:arg name="robot_arm_link_prefix" default="ur_arm_" />
  <xacro:arg name="gripper_link_prefix" default="hand_" />
  <xacro:arg name="ee_type" default="tray" />
  <xacro:arg name="add_world_link" default="1" />
<!--
  <xacro:property name="_M_PI" value="${pi}"/>
-->
  <!-- Control Box Properties -->
  <!--
    # "ctrl_box_height" property replicated here from custom.urdf.xacro so that
    # husky_ur5_e_description.urdf.xacro can be included ahead of
    # custom.urdf.xacro, so that stupid setup_assistant won't complain that
    # parent links referenced in the latter are not defined.
  -->
  <xacro:property name="ctrl_box_height" value="0.68" />

  <xacro:include filename="husky_ur5_e_description.urdf.xacro" />
  <xacro:include filename="custom.urdf.xacro" />

</robot>
