<?xml version="1.0" ?>
<robot name="loop example" xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:macro name="loop" params="items:=^">
		<xacro:if value="${items}">
			<!-- pop first item from list -->
			<xacro:property name="item" value="${items.pop(0)}"/>

			<item>${item}</item>

			<!-- recursively call myself -->
			<xacro:loop/>
		</xacro:if>
	</xacro:macro>

	<!-- define the list of items to iterate -->
	<xacro:property name="items" value="${[1,2,3,4,5]}" />

	<xacro:loop items="${list(items)}"/>
	Passing a list copy, the original list is untouched: ${items}

	<xacro:loop items="${items}" />
	Passing the list directly, it is emptied: ${items}
</robot>
