<?xml version="1.0" ?>
<launch>
	<arg name="custom" default="false" />
	<arg name="custom_prefix" default="" />

	<arg name="_pkg_loc" default="$(find servicesim_for_wp2)" />
	<arg name="_pkg_base" default="$(find servicesim_competition)" />
	<!--
		# Assume LD_LIBRARY_PATH will include catkin workspace's devel/lib/
		# path, to support using newer Gazebo plugins even when building with
		# older Gazebo development package, by building these new plugsin from
		# source.
		# But Gazebo still seems to be able to locate the plugin even if
		# LD_LIBRARY_PATH is not explicitly added to GAZEBO_PLUGIN_PATH, so
		# this is apparently redundant.
	-->
	<arg name="_pkg_from_src" default="$(env LD_LIBRARY_PATH)" />
<!--
-->

	<arg if="$(arg custom)" name="world_name"
		default="$(arg custom_prefix).world" />
	<arg unless="$(arg custom)" name="world_name"
		default="$(arg _pkg_loc)/worlds/service.world"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<!--
			# Will try and download all model:// resources from
			# http://models.gazebosim.org/ if local resources not specified.
		-->
		<env name="GAZEBO_RESOURCE_PATH" value="$(arg _pkg_base)"/>
		<env name="GAZEBO_MODEL_PATH"
			value="$(arg _pkg_loc)/models:$(arg _pkg_base)/models"/>
<!--
		<env name="GAZEBO_MODEL_PATH" value="$(arg _pkg_loc)/models"/>
		<env name="GAZEBO_PLUGIN_PATH"
			value="$(arg _pkg_from_src):$(arg _pkg_loc)/plugins"/>
-->
		<env name="GAZEBO_PLUGIN_PATH" value="$(arg _pkg_loc)/plugins"/>

		<arg name="world_name" value="$(arg world_name)" />
		<arg name="paused" value="true"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="true"/>
		<arg name="verbose" value="true"/>
	</include>
</launch>
