<?xml version="1.0" ?>
<launch>
<!--
	<arg name="x" default="16.76" />
	<arg name="y" default="13.45" />
-->
	<arg name="x" default="20.15" />
	<arg name="y" default="1.45" />
	<arg name="z" default="0.03" />
	<arg name="yaw" default="-3.14" />
	<arg name="paused" default="false" />

	<arg name="gazebo_gui" default="true" />

	<arg name="custom" default="false" />
	<arg name="custom_prefix" default="" />

<!--
	<arg name="arm_prefix" default="ur_arm_" />
-->
	<arg name="arm_prefix" default="" />

	<arg name="initial_joint_positions"
		doc="Initial joint configuration of the robot" default="
			-J $(arg arm_prefix)elbow_joint 0
			-J $(arg arm_prefix)robot_rz 0
			-J $(arg arm_prefix)robot_tx 0
			-J $(arg arm_prefix)robot_ty 0
			-J $(arg arm_prefix)shoulder_lift_joint 0
			-J $(arg arm_prefix)shoulder_pan_joint 0
			-J $(arg arm_prefix)wrist_1_joint 0
			-J $(arg arm_prefix)wrist_2_joint 0
			-J $(arg arm_prefix)wrist_3_joint 0" />

	<arg name="_pkg_loc" default="$(find servicesim_for_wp2)" />
	<arg name="_pkg_mob_manip"
		default="$(find mobile_manipulator_moveit_config)" />
<!--
	<arg name="_pkg_mob_manip"
		default="$(find mobile_manipulator_for_wp2_moveit_config)" />
-->

	<arg name="_urdf" default="husky_ur5e_robot.urdf.xacro" />

	<include file="$(arg _pkg_loc)/launch/competition.launch">
		<arg name="custom" value="$(arg custom)"/>
		<arg name="custom_prefix" value="$(arg custom_prefix)"/>
	</include>

	<!-- send robot urdf to param server -->
	<param name="robot_description" command="xacro --inorder
		'$(arg _pkg_mob_manip)/urdf/$(arg _urdf)'" />

	<!-- unpause only after loading robot model -->
	<arg name="unpause" value="$(eval '' if arg('paused') else '-unpause')" />

	<!-- push robot_description to factory and spawn robot in gazebo at the
		origin, change x,y,z arguments to spawn in a different position -->
	<arg name="world_pose"
		value="-x $(arg x) -y $(arg y) -z $(arg z) -Y $(arg yaw)" />

	<node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model"
		args="-urdf -param robot_description -model robot $(arg unpause)
			$(arg world_pose) $(arg initial_joint_positions)"
		respawn="false" output="screen" />

	<!-- Load joint controller parameters for Gazebo -->

	<!-- Load ROS controllers -->
	<include file="$(arg _pkg_mob_manip)/launch/ros_controllers.launch" />

</launch>
